<%= form_for(:session, url: session_create_path) do |f| %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
  <div class="actions">
    <%= f.submit session_new_path %>
  </div>
<% end %>
